# Java / Maven
backend/target/
*.class

# Node
frontend/node_modules/
frontend/dist/

# Environment variables
.env
*.env

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log