@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  background: #070b14;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  background: #070b14;
  color: white;
}

button,
input,
select {
  font: inherit;
}